.container-btn-historic {
  display: flex;
  justify-content: right;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.search {

  input {
    margin-top: 20px;
  }

  button {
    margin-left: 50px;
  }
}