<div class="container-btn-historic">
  <button type="button" class="btn btn-primary">Historic</button>
</div>


<div class="container">
  <div class="title">
    <h1>CUSTOMER BASE</h1>
    <hr>
  </div>
</div>


<div class="search">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>

<hr>

<table class="table table-hover mat-elevation-z8">
  <thead>
    <tr>
      <th scope="col">CÓD</th>
      <th scope="col">Name</th>
      <th scope="col">SSN</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>ALINE MATOS DA SILVA</td>
      <td>58.956.858-99</td>
      <td>MARCELO ALVARES, 258</td>
      <td>(33) 6589-58</td>
      <td>M@HOTMAIL.COM</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>EVERTON MURILO BERNARDO</td>
      <td>48.958.956-98</td>
      <td>SR. DO BONFIM, 85</td>
      <td>(18) 3696-9892</td>
      <td>EVERTONMURILO@GMAIL.COM</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>FELIPE ANDRADE DA SILVA</td>
      <td>421.529.368-50</td>
      <td>AV. SÃO CRISTOVÃO, 315</td>
      <td>3322-5256</td>
      <td>FELIPE@HOTMAIL.COM</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>MARLOM DE NOBREGA DA SILVA</td>
      <td>458.582.589-9</td>
      <td>AV. MARCELO MANFIO, 258</td>
      <td>3359-9858</td>
      <td>MARCELOM@GMAIL.COM</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>WELLINGTON SILVA DE MORAES</td>
      <td>421.529.368-50</td>
      <td>AV. SÃO CRISTOVÃO, 314</td>
      <td>9755-3388</td>
      <td>WELLMSILVA@GMAIL.COM</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>RENATA SILVA MARIA</td>
      <td>125.554.556-56</td>
      <td>JARDIM DO LAGO, 45</td>
      <td>(18) 2255-6565</td>
      <td>RENATAM@GMAIL.COM</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>ALEX MOURA ANDRADE</td>
      <td>48.753.208-9</td>
      <td>SANTO AMARO, 246</td>
      <td>(18) 9759-3388</td>
      <td>MOURAALEX@GMAIL.COM</td>
    </tr>
  </tbody>
</table>