<div class="container-1">

    <div class="container-itens-1">
        <div class="sales-clients">
    
            <div class="sales">
                <label for="text">N° Sales: </label>
                <input type="text">
            </div>
    
        </div>
    
        <div class="buttons">
            <button mat-raised-button color="primary">Cancel</button>
            <button mat-raised-button color="primary">Save</button>
        </div>
    </div>

    <div class="clients">
        <label for="text">Clients:</label>
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
        <button mat-raised-button color="primary">Search</button>
    </div>

</div>

<!--<div class="container-2">

    <div class="calender">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <table class="table-condensed table-bordered table-striped">
                        <thead>
                            <tr>
                              <th colspan="7" >
                                <a class="btn"><i class="icon-chevron-left"></i></a>
                                <a class="btn">February 2012</a>
                                <a class="btn"><i class="icon-chevron-right"></i></a>
                              </th>
                            </tr>
                            <tr>
                                <th>Su</th>
                                <th>Mo</th>
                                <th>Tu</th>
                                <th>We</th>
                                <th>Th</th>
                                <th>Fr</th>
                                <th>Sa</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="muted">29</td>
                                <td class="muted">30</td>
                                <td class="muted">31</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                                <td>11</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>13</td>
                                <td>14</td>
                                <td>15</td>
                                <td>16</td>
                                <td>17</td>
                                <td>18</td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td><strong>20</strong></td>
                                <td>21</td>
                                <td>22</td>
                                <td>23</td>
                                <td>24</td>
                                <td>25</td>
                            </tr>
                            <tr>
                                <td>26</td>
                                <td>27</td>
                                <td>28</td>
                                <td>29</td>
                                <td class="muted">1</td>
                                <td class="muted">2</td>
                                <td class="muted">3</td>
                            </tr>
                        </tbody>
                    </table>    
                </div>
            </div>
        </div>
    </div>

</div> -->

<div class="container-3">

    <div class="total">
        <label for="text">Amount $ =</label>
        <input type="text">
        <div class="btn-remove">
            <button mat-raised-button color="primary">Remove</button>
        </div>
    </div>

    <div class="table">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">N° Sales</th>
                <th scope="col">Product Cód</th>
                <th scope="col">Description</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                
              </tr>
              <tr>
                <th scope="row">2</th>
                
              </tr>
              <tr>
                <th scope="row">3</th>
                
              </tr>
            </tbody>
          </table>
    </div>

</div>

<div class="container-4">

    <div class="list">
        <label for="text">ID:</label>
        <input type="text">
        <label for="text">Product:</label>
        <input type="text">
        <label for="text">Provider:</label>
        <input type="text">
        <label for="text">Price:</label>
        <input type="text">
        <label for="text">Stock:</label>
        <input type="text">
        <label for="text">Quantity:</label>
        <input type="text">
        <div class="btn-list">
            <button mat-raised-button color="primary">Insert</button>
            <button mat-raised-button color="primary">Clear</button>
        </div>
    </div>

</div>